.blog-item {
	margin-bottom: 2em;
}

.blog-item .inner {	
	height: 100%;
	padding: 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.blog-item .inner img {
	width: 100%;
	height: auto;
}

.blog-item .article-link {
	text-decoration: none;
}

.article-title {
	margin-bottom: 0.5em;
}

.article-header {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
}

#article-cat {
	position: absolute;
	bottom: -0.9em;
	background-color: #993030;
	padding: 1px 10px 2px;
	color: white;
	min-width: 50%;
	max-width: 100%;
	text-align: center;
	opacity: 98%;
}

.article-data {
	font-size: 0.9em;
	margin-bottom: 2em;
}

.blog-item .article-data.blog {
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 0.8em;
}

.article-data #writer {
	border-right: solid 2px #993030;
	padding-right: 0.5em;
}

.article-data #date {
	padding-right: 0.5em;
	padding-left: 0.5em;
}

.article-data #category {
	border-left: solid 2px #993030;
	padding-left: 0.5em;
	color: #993030;
}

.article-image {
	margin-bottom: 2em;
	width: 80%;
}

.article-image[alt="affiche de la cyber conv"] {
	width: 100%;
}

.full-width-picture {
	margin: 1em auto 3em;
}

.full-width-picture img {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.article-content .copyright {
	width: 90%;
	font-size: small;
	margin-top: -2em;
}

.article-content .container {
	padding: 0;
}

.article-content .container .row {
	margin-bottom: 1em;
	align-items: center;
}

.article-content .container .row img {
	margin-bottom: 1em;
}

.article-content .jdr-film {
	margin-top: 1em;
}

.article-content h3.support-title a {
	font-family: 'Avenir';
	font-weight: bold !important; 
	color: #8cd3d7 !important;
}

.article-content h3.support-title a:hover, 
.article-content h3.support-title a:focus {
	color: #13a7af !important;
	text-decoration: none;
}


/* Tablettes */
@media (min-width: 768px) {	
	.article-content .jdr-film img {
		margin-bottom: 0;
	}

	.article-content .container .row img {
		margin-bottom: 0;
	}

}