.blog-item {
	margin-bottom: 2em;
}

.blog-item .inner {	
	height: 100%;
	padding: 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.blog-item .inner img {
	width: 100%;
	height: auto;
}

.article-title {
	margin-bottom: 0.5em;
}

.article-data {
	font-size: 0.9em;
	margin-bottom: 2em;
}

.article-data.blog {
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 0.8em;
}

.article-data #writer {
	border-right: solid 2px #993030;
	padding-right: 0.5em;
}

.article-data #date {
	padding-left: 0.5em;
}

.article-image {
	margin-bottom: 1em;
	max-width: 100%;
}