{% extends 'base.html.twig' %}

{% block title %}New Difficulte{% endblock %}

{% block body %}
    <h1>Create new Difficulte</h1>

    {{ include('difficulte/_form.html.twig') }}

    <a href="{{ path('difficulte_index') }}">back to list</a>
{% endblock %}
