{% extends 'base.html.twig' %}

{% block title %}New SupportVisuel{% endblock %}

{% block body %}
    <h1>Create new SupportVisuel</h1>

    {{ include('support_visuel/_form.html.twig') }}

    <a href="{{ path('support_visuel_index') }}">back to list</a>
{% endblock %}
