<form method="post" action="{{ path('type_musique_delete', {'id': type_musique.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_musique.id) }}">
    <button class="btn">Delete</button>
</form>
