{% extends 'base.html.twig' %}

{% block title %}New Action{% endblock %}

{% block body %}
    <h1>Create new Action</h1>

    {{ include('admin/action/_form.html.twig') }}

    <a href="{{ path('action_index') }}">back to list</a>
{% endblock %}
