<form method="post" action="{{ path('arme_delete', {'id': arme.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ arme.id) }}">
    <button class="btn">Delete</button>
</form>
