{% extends 'base.html.twig' %}

{% block title %}New Arme{% endblock %}

{% block body %}
    <h1>Create new Arme</h1>

    {{ include('admin/arme/_form.html.twig') }}

    <a href="{{ path('arme_index') }}">back to list</a>
{% endblock %}
