{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité - Day To Role{% endblock %}

{% block SEO %}
<meta name="description" content="">
<meta name="keywords" content="politique confidentialite day to role">
{% endblock %}

{% block content %} 
<main>
    <h1>RGPD</h1>
    <h2>Introduction</h2>
    <p>Dans le cadre de son activité, <a href="{{ path('home') }}" class="daytorole-link">daytorole.com</a> est amené à collecter et à traiter des informations dont certaines sont qualifiées de "données personnelles". Day To Role attache une grande importance au respect de la vie privée, et n’utilise que des données de manière responsable et confidentielle et dans une finalité précise.</p>
    <h2>Données personnelles</h2>
    <p>Sur le site web <a href="{{ path('home') }}" class="daytorole-link">daytorole.com</a>, il y a 2 types de données susceptibles d’être recueillies :</p>
    <ul>
    	<li>
    		<p>Les données transmises directement<br>
    		Ces données sont celles que vous nous transmettez directement, via un formulaire de contact ou bien par contact direct par email. Sont obligatoires dans le formulaire de contact le champs « prénom et nom », « entreprise ou organisation » et « email ».</p>
    	</li>
    	<li>
    		<p>Les données collectées automatiquement<br>
    		Lors de vos visites, une fois votre consentement donné, nous pouvons recueillir des informations de type « web analytics » relatives à votre navigation, la durée de votre consultation, votre adresse IP, votre type et version de navigateur. La technologie utilisée est le cookie.</p>
    	</li>
    </ul>
    <h2>Utilisation des données</h2>
    <p>Les données que vous nous transmettez directement sont utilisées dans le but de vous recontacter et/ou dans le cadre de la demande que vous nous faites. Les données « web analytics » sont collectées de forme anonyme (en enregistrant des adresses IP anonymes) par Google Analytics, et nous permettent de mesurer l'audience de notre site web, les consultations et les éventuelles erreurs afin d’améliorer constamment l’expérience des utilisateurs. Ces données sont utilisées par Day To Role, responsable du traitement des données, et ne seront jamais cédées à un tiers ni utilisées à d’autres fins que celles détaillées ci-dessus.</p>
    <h2>Base légale</h2>
    <p>Les données personnelles ne sont collectées qu’après consentement obligatoire de l’utilisateur. Ce consentement est valablement recueilli (boutons et cases à cocher), libre, clair et sans équivoque.</p>
    <h2>Durée de conservation</h2>
    <p>Les données seront sauvegardées durant une durée maximale de 3 ans.</p>
    <h2>Cookies</h2>
    <p>Voici la liste des cookies utilisés et leur objectif :</p>
    <ul>
    	<li>Cookies Google Analytics (<a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" class="daytorole-link">liste exhaustive</a>) : Web analytics</li>
    	<li>[Nom du cookie] : Permet de garder en mémoire le fait que vous acceptez les cookies afin de ne plus vous importuner lors de votre prochaine visite.</li>
    </ul>
    <h2>Vos droits concernant les données personnelles</h2>
    <p>Vous avez le droit de consultation, demande de modification ou d’effacement sur l’ensemble de vos données personnelles. Vous pouvez également retirer votre consentement au traitement de vos données.</p>
    <h2>Contact délégué à la protection des données</h2>
    <p><a href="mailto:daytorole@gmail.com" class="daytorole-link">daytorole@gmail.com</a> - <a href="tel:0671693741" class="daytorole-link">0671693741</a></p>
</main>
{% endblock %}