{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité - Day To Role{% endblock %}

{% block SEO %}
<meta name="description" content="">
<meta name="keywords" content="politique confidentialite day to role">
{% endblock %}

{% block content %} 
<main>
    <h1>Encore un peu de patience...</h1>
    <p class="centered-text">Le site est encore en cours de développement, mais tu pourras consulter cette page très prochainement !</p>
    <p class="centered-text">En attendant, n'hésite pas à aller faire un tour du côté du <a href="{{path('blog')}}" class="daytorole-link">blog</a> !</p>
</main>
{% endblock %}