{% extends 'base.html.twig' %}

{% block title %}Qu'est-ce que le Jeu de Rôle ? Tout savoir sur le JDR - Day To Role{% endblock %}
        
{% block SEO %}
<meta name="description" content="Découvre le Jeu de Rôle ! Tu aimes les jeux de société ? Tu adores incarner des personnages ou raconter des histoires ? Alors le JDR est fait pour toi !">
<meta name="keywords" content="jeu de rôle">
<meta name="author" content="Loïs">
{% endblock %}

{% block extrastylesheets %}
<link href="{{ asset('css/jeuderole.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %} 
<main>
    <h1>Le Jeu de Rôle, c'est quoi ?</h1>
    <h2>Qu'est que le Jeu de Rôle ?</h2>
    <p>Le Jeu de Rôle, c’est vivre une aventure avec ses amis en incarnant un personnage.</p>
    <p>Un meneur de jeu plante le décor et lance les intrigues. Tes amis et toi avancerez dans l’histoire en vous concertant. Laisse aller ton imagination dans des situations folles !</p>
    <p>Et pas d’inquiétude si tu n’aimes pas la science-fiction, il existe énormément de thèmes variés : horreur, historique, scientifique, super-héros, crime, comique…</p>
    <p>Un des premiers Jeux de Rôle, et probablement le plus connu, c’est Donjons & Dragons. Tu en as peut-être entendu parler dans des séries comme The Big Bang Theory par exemple.</p>
    <p>Définition officielle du Jeu de Rôle :</p>
    <div class="blockquote-content">
        <blockquote cite="http://www.ffjdr.org/ce-devez-savoir-jeu-role/definitions-du-jeu-role/">Le Jeu de Rôle est un jeu de société coopératif. Un joueur particulier, le meneur de jeu, met en scène une aventure dans un cadre imaginaire en s’aidant d’un scénario. Les autres joueurs interprètent les personnages principaux de cette aventure. Le jeu consiste en un dialogue permanent au moyen duquel les joueurs décrivent les actions de leurs personnages. Le meneur de jeu décrit à son tour les effets de ces actions, interprète les personnages secondaires et arbitre la partie en s’appuyant sur des règles.</blockquote>
        <p class="source">La Fédération Française de Jeux de Rôle, avril 2006</p>             
    </div>
    <p>Quelques chaînes Youtube enregistrent leurs parties de Jeu de Rôle. Découvre l’une d’entre elles, pour un exemple concret : Tales of Pi.</p>
    <p>Introduction de l'héritier de Tales of Pi : <a href="https://youtu.be/N12g4t-qZGs" class="daytorole-link">Voir la première vidéo du scénario</a></p>
    <h2>Alors comment ça marche le Jeu de Rôle ?</h2>
    <div class="game row">
        <div class="game-text col-md-7 order-2 order-md-1">
            <h3>Le meneur de jeu</h3>
            <h4>La création du scénario et de l'univers</h4>
            <p>Le meneur de jeu écrit ou télécharge un scénario tout fait : le contexte, les différentes péripéties, les PNJ (Personnages Non Joueurs) que tu rencontreras au fur et à mesure  de ton aventure…</p>
            <p>Pour que l’immersion soit complète, il peut aussi créer des maps des différents lieux, des musiques d’ambiance ou créer des petites figurines pour aider à la visualisation des combats</p>
        </div>
        <figure class="graphic-element col-md-5 order-1 order-md-2">
            <img src="{{ asset('images/element-graphique-jeu-de-role.jpg') }}" alt="élément graphique jeu de role">
            <figcaption><a href="https://www.flickr.com/photos/missbutterfly/30816033285/" class="daytorole-link copyright">CC-BY Missbutterfly</a></figcaption>
        </figure>
    </div>    
    <h4>L'animation de la partie</h4>
    <p>Pendant la partie, le meneur de jeu peut lancer une action, par exemple "Quelque chose semble briller au fond du puits. Qu’est-ce que vous faites ?".</p>
    <p>Pour faire simple, les joueurs vont donner différentes idées, et le meneur de jeu va leur demander de lancer un dé. Le dé varie suivant l’action et le nombre à effectuer selon les différentes capacités du personnage. Il existe des dés à 4 faces, dés de 20...  Le meneur de jeu va également lancer le dé. S’il obtient un résultat supérieur, l’action demandée par le joueur échoue, et le meneur de jeu invente une nouvelle péripétie qui empêche momentanément leur progression.</p>
    <p>Les joueurs peuvent perdre des points, gagner des niveaux, voire même perdre une vie. Le meneur de jeu doit veiller à ce que le compte soit bien actualisé.</p>
    <p>Comme tu l’as compris, c’est un rôle super intéressant mais très compliqué parce qu’il faut toujours être attentif et polyvalent. On conseille d’avoir joué plusieurs fois en tant que joueur avant d’être meneur de jeu.</p>
    <h3>Le joueur</h3>
    <h4>La création de sa fiche de joueur</h4>
    <div class="player row">
        <div class="player-text col-md-7 order-2 order-md-1">
            <p>Le meneur de jeu va t’envoyer un teaser sur le scénario. Tu devras soit inventer de toutes pièces ton personnage, soit customiser une fiche déjà existante.</p>
            <p>Ta fiche devra comporter différents éléments comme : son nom, son âge, sa classe, son background, son caractère, ses points de compétence (en intelligence, charisme, combat…) et ses compétences spéciales.</p>
            <p>Nous publierons bientôt un article pour te donner tous les détails et les étapes pour créer facilement une fiche de personnage.</p>
        </div>
        <div class="col-md-5 order-1 order-md-2">
            <img src="{{ asset('images/remplir-fiche-de-personnage.jpg')}}" alt="remplir sa fiche de personnage">
        </div>   
    </div>    
    <h4>Le déroulement de la partie</h4>
    <p>Une fois la fiche validée par le meneur de jeu, tu devras l’apporter avec toi pour la partie. N’oublie pas non plus ton jeu de dé.</p>
    <p>Tout au long de la partie, tu devras noter tes points d’évolution et compléter ton inventaire.</p>
    <p>Mais surtout, la clé d’une bonne partie, c’est l’entraide et l’entente. À part dans quelques scénarios, tu joues en équipe. Et pour une partie conviviale, sans frustration, il est mieux de demander leur avis à vos amis. Pour résoudre une énigme ou une péripétie, les joueurs cumulent souvent plusieurs actions. Des personnages sont également soigneurs ou défenseurs et c’est la combinaison de toutes les compétences des joueurs qui permettra de gagner la partie.</p>
    <h2>Comment bien préparer la partie ?</h2>
    <ul>
        <li>Choisir le type de scénario</li>
        <li>Établir le nombre de joueurs</li>
        <li>Déterminer la durée de la partie : 1 séance, 2, 10...</li>
        <li>Établir un calendrier pour réunir tout le monde</li>
        <li>Amener les équipements indispensables :
            <ul>
                <li>Pour le meneur de jeu : scénario, musiques, supports visuels, lot de dés</li>
                <li>Pour les joueurs : jeux de dés, fiches de personnage</li>
                <li>...ET DE QUOI GRIGNOTER BIEN SÛR !</li>
            </ul>
        </li>
    </ul>
    <h2>Et Day To Role, à quoi ça sert ?</h2>
    <p>Créer une partie de Jeu de Rôle peut se révéler fastidieux et chronophage.</p>
    <p>Inventer un scénario bien ficelé, gérer les oublis de dé, tenir à jour les comptes de points…</p>
    <p>C’est pourquoi Day To Role propose 2 outils distincts :</p>
    <ul>
        <li>Une plateforme pour aider les meneurs de jeu à tout centraliser</li>
        <li>Une application mobile pour soutenir les joueurs lors de la partie</li>
    </ul>
    <p>Tu trouveras plus d'infos sur notre page <a href="{{ path('notreoffre')}}" class="daytorole-link">Notre offre</a> !</p>
</main>
{% endblock %}