{% extends 'base.html.twig' %}

{% block title %}Mentions légales - Day To Role{% endblock %}

{% block SEO %}
<meta name="description" content="Consulte nos mentions légales pour connaître l'éditeur du site, l'hébergeur et les développeurs.">
<meta name="keywords" content="mentions legales day to role">
{% endblock %}
  
{% block content %} 
<main>
    <h1>Mentions légales</h1>
    <h2>Edition du site</h2>
    <p>Day To Role</p>
    <p>Responsables éditoriales : Loïs Masmaud et Eugénie Ragon</p>
    <p>19 Rue André le Nôtre, 49066 Angers</p>
    <p>Téléphone : 02 41 73 20 30</p>
    <p>Email : daytorole@gmail.com</p>
    <p>Site Web : <a href="https://daytorole.com" class="daytorole-link">www.daytorole.com</a></p>
    <h2>Hébergement</h2>
    <p>Hébergeur : INFOMANIAK SA</p>
    <p>Rue Eugène-Marziano 25, 1227 Genève, Suisse</p>
    <p>Site Web : <a href="https://www.infomaniak.com/fr" class="daytorole-link" target="_blank">www.infomaniak.com</a></p>
    <h2>Développement</h2>
    <p>Eva Saintier (site) et Antoine Boyer (plateforme)</p>
    <p>19 Rue André le Nôtre, 49066 Angers</p>
    <p>Site Web : <a href="https://daytorole.com" class="daytorole-link">www.daytorole.com</a></p>
</main>
{% endblock %}