{% extends 'base.html.twig' %}

{% block title %}New Complexite{% endblock %}

{% block body %}
    <h1>Create new Complexite</h1>

    {{ include('complexite/_form.html.twig') }}

    <a href="{{ path('complexite_index') }}">back to list</a>
{% endblock %}
