{% extends 'base.html.twig' %}

{% block title %}New Objet{% endblock %}

{% block body %}
    <h1>Create new Objet</h1>

    {{ include('objet/_form.html.twig') }}

    <a href="{{ path('objet_index') }}">back to list</a>
{% endblock %}
